body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  background: #e2dbdb;
  align-content: center;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #000000;
  color: white;
  width: 100%;
  left: 0;
}
h2{
  margin: 5px 0 22px 500px;
}

* {
  box-sizing: border-box
}

/* Table css */
table, th, td {
    margin-top: 50px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 100px;
}
th, td {
    padding: 5px;
    text-align: left;    
}
td{

  width: 40%;
}


label[for=email], label[for=psw], label[for=uname], label[for=cnf-psw], label[for=name],
label[for=par-id], label[for=par-wgt], label[for=par-hgt], label[for=tel], label[for=street], 
label[for=city], label[for=address-fnd], label[for=postal-code], label[for=par-name], label[for=track]
{
  margin: 5px 0 22px 450px;
}
  input[type=text], input[type=password] {
  height: 20px;
  width: 350px;
  padding: 15px;
  margin: 5px 0 22px 450px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;
  margin-top: 30px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(22, 191, 197);
  width: 100%;
  left: 0;
}
li{
  float: left;
}

li a{
  display: block;
  color: #000;
  font-size: 18px;
  font-style: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #555;
  color: white;
}
.active{
  background-color: #555;
}

/* Set a style for all buttons */
button {
  background-color: rgb(22, 191, 197);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
.position{
  margin: 5px 0 22px 400px;
}

.signupbtn {
  height: 40px;
  width: 100px;
  margin: 5px 0 22px 450px;
}
.signinbtn {
  height: 40px;
  width: 100px;
  margin: 5px 0 22px 450px;
}
.submit{
  height: 50px;
  width: 200px;
  margin: 5px 0 22px 450px;
}
}
.track-parcelbtn{
  height: 40px;
  width: 150px;
  margin: 5px 0 22px 500px;
}
.line{
  display: flex;
}

/* Add padding to container elements */
nav.container{
  display: flex;
  float: left;

  
}
.container-up{
  margin-top: 100px;
}
}
.container {
  padding: 16px;
  align-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
}
form.container{
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signinbtn, .submit, .signupbtn {
    width: 100%;
  }
}
.lnk{
  margin: 5px 0 22px 400px;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 100px;
    font-family: helvetica;
}
.footer-divide{
 margin: 0;
 display: flex;
 padding: 0;
}
.divide{
  width: 33%;
  text-align: center;
}


/* Side bar menu*/

.sidenav {
    float : right;
    height: 30%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 120px; /* Stay at the top */
    right: 10px;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}